@model P5_Express_Voitures_Identity.Models.Reparation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Veux tu supprimer cette réparation?</h3>
<div>
    <h4>Reparation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeIntervention)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeIntervention)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrixIntervention)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrixIntervention)
        </dd>
    </dl>

    <form asp-action="Delete" asp-route-idVoiture=@Model.IdVoiture>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-idVoiture=@Model.IdVoiture>Back to List</a>
    </form>
</div>
