@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmation de l'inscription ";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
     <a id="confirm-link" href="@Model.EmailConfirmationUrl">Cliquez ici pour confirmer l'inscription</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

